@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: rgb(27, 27, 27);
    font-family: "Nunito", sans-serif;
    font-weight: lighter;
    color: white;
    max-width: auto;
    position: relative;
}
.nav{
 
    padding-left: 10px;
    width: 130px;
    overflow: hidden;
    position: fixed;
    padding: 5px;

    
    
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav a {
    display:list-item;
    text-decoration: none;
    color: white;
    text-align: left;
    padding-top: 5px;


}

.nav a:hover {
    color: #ff2d26;
}


.main {
    margin-top: 10px;
    margin-left: 170px;
    display: block;
    padding-left: 0;
}   


